:root {
  /* PRIMARY */
  --orangPrimary: #fb7413;

  /* NEUTRAL */
  --lightGrey: #959eac;
  --mediumGrey: #7c8798;
  --darkBlue: #252d37;
  --veryDarkBlue: #121417;
  /* white */
}

body {
  font-size: 15px;
  font-family: "Overpass", sans-serif;
  background-color: black;
  color: white;
}

h1,
p {
  margin: 0;
}

.mt-2 {
  margin-top: 2rem;
}

.align-center {
  text-align: center;
}

.challenge {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* border: 2px solid var(--orangPrimary); */
  background: linear-gradient(var(--darkBlue), var(--veryDarkBlue));
  width: 340px;
  border-radius: 30px;
  padding: 2.5rem;
}

/* DEFAULT PAGE */

.circle {
  width: 50px;
  height: 50px;
  background-color: #7c879817;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle_icon {
  height: 35%;
}

.content {
  margin: 2rem 0;
}

.content_title {
  font-weight: normal;
  margin-bottom: 1rem;
}

.content_text {
  color: var(--lightGrey);
  line-height: 25px;
}

.rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.rating_each-circle {
  width: 50px;
  height: 50px;
  background-color: #7c879829;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lightGrey);
  transition: 0.3s;
}

.rating_each-circle:hover {
  background-color: var(--mediumGrey);
  color: white;
  cursor: pointer;
}

.rating_each-circle:active {
  background-color: var(--orangPrimary);
}

.clicked {
  background-color: var(--orangPrimary);
  color: white;
}

.clicked:hover {
  background-color: var(--orangPrimary);
  color: white;
}

.submit-button {
  width: 100%;
  height: 3rem;
  border-radius: 30px;
  border: none;
  background-color: var(--orangPrimary);
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: 0.3s;
}

.submit-button:hover {
  background-color: white;
  color: var(--orangPrimary);
  cursor: pointer;
}

.error-submit {
  margin-top: 1rem;
  color: red;
  text-align: center;
  opacity: 0.2;
}

.anim-op-low {
  opacity: 0.5;
}

.anim-op-med {
  opacity: 0.8;
}

.anim-op-full {
  opacity: 1;
}

/* THANK YOU PAGE */

.rated {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ty-image {
  width: 50%;
  margin-bottom: 2rem;
}

.rating-selected {
  background-color: #7c879829;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  color: #fb7413d0;
}

/* HIDDEN CONTROL CLASS */
.hide-content {
  display: none;
}

/* FOOTER */

.attribution {
  font-size: 18px;
  text-align: center;
  margin-bottom: 2rem;
}

.attribution a {
  color: var(--orangPrimary);
}
